<form [formGroup]='personForm' (ngSubmit)="onSubmit()">
    <div class="container">

        <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" class="form-control" formControlName="firstName">

            <div *ngIf="formErrors.firstName" class="alert alert-danger">
                {{ formErrors.firstName }}
            </div>

        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" class="form-control" formControlName="lastName">

            <div *ngIf="formErrors.lastName" class="alert alert-danger">
                {{ formErrors.lastName }}
            </div>

        </div>

        <div class="form-group">
            <label for="name">Age</label>
            <input id="age" type="text" class="form-control" formControlName="age">

            <div *ngIf="formErrors.age" class="alert alert-danger">
                {{ formErrors.age }}
            </div>

        </div>

        <div class="form-group">
            <input [disabled]="!personForm.valid" class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
        </div>
    </div>

</form>